
* { 
	
  background-color: black;
  color: white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

body {
	text-align: center;
	min-height:800px;
	padding: 0px;
	margin: 0;
}

p { 
	
} 

figcaption { 
    /* display: block; */
	/*text-align: left; */
	
	color: #cccccc;
	font-size: 1.0em;
	
}
.pluscap {
	/* display: block; */
	/* position: absolute; */
	position: relative;
	
}
figure { 
	margin: 0px;
	padding: 0px;
    /*display: block; 
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px; */
}

#hidden { display: none; }

img { 
	/* padding: 0px; 
	margin: 20px;
	border: 0px solid black;
	background-color: white;*/
	-moz-border-radius: 10px;
	border-radius: 10px; 
}
.vertical {

}

.horizontal {

}
.imgholder {}
.mybutton {width: 20%; display: inline-block;padding:5px;}

a { color: #fff;}
a:hover {  color:blue;}

.admin_img
{
    float: right;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
}
.color-white{
    color: #fff;
    display: inline-block;
    line-height: 15px;
    width: 100%;
}
.mainNav:hover {
    color: blue;
}